{% for interface in interfaces %}
interface {{ interface.name }}
description {{ interface.description }}

{% if interface.encapsulation %}
encapsulation {{ interface.encapsulation }}
{% endif %}

ip address {{ interface.ipv4 }} {{ interface.subnet_mask }}

{% if interface.no_shutdown %}
no shutdown
{% endif %}

{% endfor %}